<!DOCTYPE html>
<html>
<head>
    <title>Video Sayfası</title>
</head>
<body>
    <h1>Laravel Projem</h1>
    <p>Diğer içerikler burada yer alabilir.</p>

    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3338.314344019746!2d-118.40674618480253!3d33.94363768063977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9da3f1c63cb43a8c!2sThe%20Coffee%20Bean%20%26%20Tea%20Leaf!5e0!3m2!1sen!2sus!4v1620205682454!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</body>
</html>
